{% load i18n %}
<h2>{% trans "Sérénité" %}</h2>
{% trans "par" %}: Océane</a>
<p>Karma est entré dans ma vie dans un moment très difficile.</p>

<p>Il m’a apporté la sérénité, la lumière, l’apaisement et la confiance nécessaire à ma guérison.</p>

<p>Il m’a amené l’énergie dont j’avais besoin.</p>

<p>Ce centre sera, je pense, un réel havre de paix, de régénération mentale et spirituelle.</p>

<p>Karma est entré dans ma vie dans un moment très difficile.</p>

<p>Je remercie Karma et son épouse Nicole pour l’attention et l’ouverture d’esprit qu’ils m’ont apportés.</p>

<p>Océane 83</p>