{% load i18n %}
<h2>Hommage et gratitude dans le Témoignage de ma guérrison grâce à Karma</h2>
{% trans "par" %}: <a href="http://www.facebook.com/david.Cheveyo.Anpawi.Hi" target="_blank">Cheveyo Anpawi Paha Loustaneau</a>

<p>Bonjour a tous ceux qui liront ceci</p>

<p>Je m'apelle David, j'étais polytoxicomane et suivait un traitement de substitution a l'héroïne:"Le Subutex". <p>

<p>Le problème majeur c'est que je ne le prenais pas normalement, étant un ancien Junky, je me piquais avec tout ce qui était possible de m'injecter, donc même quand je ne prenais plus de drogue, j'étais enchaîné à ce geste horrible qui était devenu un rituel qui allait à chacun de mes moments de la journée: au réveil, avant d'aller bosser, à midi, après manger, le soir en rentrant du boulot et avant de m'endormir.....</p>

<p>Chaque moment de la journée que je viens de vous citer  me réveillait l'envie de le faire, comme un fumeur de clopes avec son café, après manger, après avoir fait l'amour....chacun de ces actes ne pouvait aller qu'avec mon geste horrible.</p>

<p>
Je l'ai fait pendant 6ans!!!!!! J'ai fait maintes tentatives pour arrêter, mais quand chaque moment précis de la journée où je le faisais arrivait, mon esprit me rongeait, la petite voix en moi ne se taisait pas, et cela rendait mon combat encore plus dur.....Trop de fois j'ai essayé avec la plus grande des motivations, mais en vain...La voix était plus forte que ma volonté.
</p>

<p>
Un jour, le 17/01/2010 exactement, ma vie a croisé celle de Karma.....Nous avions des amis en commun, seul un bonjour et Namasté furent échangés entre nous et nous nous sommes assis à table.
</p>

<p>
Il ne m'avait jamais vu, il savait seulement que j'étais sous traitement et que j'étais en train de m'éveiller. Il ne connaissait pas ma manière de prendre (fixette).....
</p>

<p>
Il m'a observé le temps du repas et à la fin il m'a appelé pour parler seul à seul; et là il m'a parlé comme un grand frère qui m'avait TOUJOURS CONNU, m'a dit qu'il savait que j'avais un rapport physique avec la drogue, que j'étais destiné à soigner mon prochain (comme tant d'autres grands Maîtres m'avaient déjà annoncé)....Il m'expliqua que tout cela venait d'un trauma physique survenu dans mon Karma actuel et que mon conscient l'avait volontairement oublié, mais mon inconscient avait la haine contre cette personne qui m'avait fait du mal; donc ne pouvant renvoyer mon mal sur cette personne, je le retournais contre moi....Je restais là, bouche bé...
</p>

<p>
Il me demanda si j acceptais son aide, en me disant qu'il pouvait me FAIRE ACCEPTER ET PARDONNER cette blessure de mon Karma actuel. Naturellement j'acceptai.
</p>
<p>
A ce moment précis, j'étais déstabilisé mais pas triste; il me demanda de m'allonger sur le ventre, alluma un encens, me mit un quartz rose dans chaque main....j'étais bien.
</p>

<p>
ET LÀ, DES LA PREMIERE NOTE DE CHANT QUI SORTIT DE SA BOUCHE, JE SENTIS MES TRIPES ET MON COEUR SE RETOURNER, UN PETIT SANGLOT SORTIT ET IL ME DIT: C'EST BIEN MEC, LACHE TOUT !! ET Là J'AI PLEURE MES TRIPES COMME JAMAIS J'AI PLEURE(de la 1ere note à mon éclatement il se passa seulement 3 secondes). J'ai pleuré tellement fort, tellement du fond de moi même; moi qui ai tellement pleuré dans ma vie (j'ai 33ans), mais jamais jamais j'ai eu un pleur qui faisait autant de mal que de bien , haine , amour, pardon, regret et tant d'autres choses étaient dans ces pleurs.....
</p>

<p>
Cela faisait tellement du bien de pleurer VRAIMENT pour la 1ere fois.
</p>

<p>
Le healing fini, mes pleurs cessèrent, je ré-ouvris mes yeux comme un nouveau-né, et là de suite j'ai su que c'était FINI!!! Lorsque qu'on vit avec une douleur depuis plus de 20ans, on n'y fait plus attention tellement on en a pris l'habitude, on l'a acceptée, mais quand elle n'est plus là la différence est immense!!!!!!!! Je savais que j'étais libre de mon passé, de mon futur donc de mon présent.
</p>
<p>
Il m'offrit un mandala en pendentif de la Tara Verte, me mit un cordon rouge autour du poignet pour représenter physiquement notre lien éternel.
</p>

<p>
Et des le lendemain matin,sans aucune peur,aucune crainte,aucun doute,je pris mon medicament normalment(fondu sous la langue).MAIS SURTOUT SURTOUT:LA VOIX  S'ETAIT TUT!!!!!*** PLUS DE VOIX QUI M APPORTAIT DOUTE ET QUI ME FESAIT RECHUTER; ET CE QUI M A LE PLUS ETONNER  cest que ma vie etais comme si je n avait jamais jamais fais ce geste d auto-destruction,du jour au lendemain mai vie fut remplie d amour et de gratitude;Moi  qui etais la reserve mondial de haine,je suis devenu l'etre de lumiere qui sommeiller en moi et que tant de Yogi,chamane ou autres grand Maitre m avait annoncer.
</p>
<p>
J'étais déjà maître Reiki avant,mais personne ne venait a moi,je commençais ma spiritualité dans l'énergie de la nature,mais je stagnais......et de ce jour,le Guerrisseur qui etait en moi,pris completement place, les gens sont venu naturellement vers moi pour que je m en occupe et je fis mes premiere et plus belles guerrison.....maintenant je suis Chamane, j utilise seulement le pouvoir de l amour des éléments de la nature que je melange avec le reiki.
</p>

<p>
JE SUIS LIBRE AMOUREUX ET AIMER D UNE PERSONNE FANTASTIQUE(MA FUTURE FEMME);PERSONNE QUE KARMA M AVAIT ANNONCER A LA FIN DE LA CEREMONIE QUE LA PROCHAINE SERAI MA MOITIÉ ET JE FIS CONNAISSANCE D ELLE SEULEMENT 6 MOIS PLUS TARD!!!!

<p> 
Voila mon histoire,ma seconde naissance que je fete chaque annee ma rencontre avec ce grand Maitre Yogi==> <a href="/biography">KARMA THUTOP DORJE</a> NAMASTE GRAND FRERE
 
<p>
QUE L AMOUR ET LA BEAUTé SOIT EN CHACUN DE VOUS CAR NOUS SOMMES QU'UN PUISQUE TOUT N EST QU UN!!!!!!
</p>
