{% load i18n %}
<h2>Joie et Bonheur</h2>
{% trans "par" %}: Évelyne</a>
<p>Bonjour Karma,</p>

<p>Cela fait un an que la joie et le bonheur m'ont envahis, je n'en reviens toujours pas aujourd'hui car j'étais complètement désespérée, j'avais tout tenté pour guérir mes souffrances (psychiatres, cliniques...) mais en vain...</p>

<p>
Puis cet homme, Karma, a croisé mon chemin, et là ma vie changée....Cela faisait 20 ans que je vivais dans la souffrance, le mal-être me rongeait sans cesse...et j'ai sombré dans la toxicomanie pour finir dans l'alcool.
</p>

<p>
Je suis maman depuis sept ans, la souffrance régnait dans la maison, même si je faisais tout pour la cacher, je la ressentais fortement et il me devenait difficile de continuer de vivre ainsi par
pure protection pour mes enfants...
</p>

<p>Lorsque j'ai rencontré Karma, je voulais en finir avec la vie pour ne pas "donner" cette souffrance à mes enfants. </p>
	
<p>Je ne le remercierais jamais assez, je regarde aujourd'hui mes filles dans les yeux et je vois le bonheur que nous partageons chaque jour...</p>

<p>Je suis tout simplement heureuse et c'est beaucoup pour moi.</p>


<p>Évelyne</p>



 



