{% load i18n %}
<h2>Remerciements</h2>
{% trans "par" %}: Carole</a>

<p>Je tenais moi aussi à te remercier pour m’avoir sauvé.</p>

<p>Depuis aussi loin que je me souvienne, j’avais un mal être indéfinissable, anorexie à 14ans, boulimie durant des années je n’acceptait pas mon corps de femme.</p>

<p>Je croyais aller mieux quand j’ai rencontré mon mari ,puis un bébé arrive en 2001 le bonheur (en apparence) un deuxième bébé deux ans et demi après et là ça a été la descente aux enfers.</p>

<p>J’étais devenue agressive, violente, hystérique, gros blocages sexuels.</p>

<p>Je consulte un psy durant 6 ans avec tout ce qui va avec ,cachets à gogo sans vraiment de résultats.</p>

<p>KARMA a de suite vu mon problème, il m’a sauvé.</p>

<p>J’ai subi un inceste à l’âge de 6 ans par mon père, mon inconscient refoulait cet acte.</p>

<p>J’ai 35 ans et grâce à KARMA je revis depuis peu  et je ne pourrai jamais assez le remercier.</p>

<p>Merci KARMI tu es un être merveilleux et tu auras toujours une place dans mon cœur.</p>

<p>Longue vie à toi.</p>


 



