{% extends "base.html" %}
{% load i18n %}

{% block title %}{% blocktrans %}L'Énergie du Yogi{% endblocktrans %}i - {% trans "Centre" %} {% trans "et" %} {% trans "Soins" %}{% endblock %}

{% block section %}{% trans "Centre" %} {% trans "et" %} {% trans "Séminaires" %}{% endblock %}

{% block tree %}{% trans "Centre" %} {% trans "et" %} {% trans "Séminaires" %}{% endblock %}

{% block cCenter %}active{% endblock %}

{% block left %}
<div>
	<img src="/img/photos/200/nicole_karma.png" />
</div>
{% endblock %}

{% block right %}

<h2>{% trans "Le Centre" %}</h2>
<p>
	{% blocktrans %}
	Situé dans la campagne varoise, dans le calme et la sérénite d'un ancien hameau du 17éme, le centre est à 8 km de la gare TGV Les Arcs/Draguignan.
	{% endblocktrans %}
</p>
<div class="hr"></div>
<p>{% trans "Pour vous accueillir" %}: 
	<ul>
		<li>{% blocktrans %}5 chambres doubles confortables et air conditionné.{% endblocktrans %} </li>
		<li>{% blocktrans %}Pension complète.{% endblocktrans %} </li>
		<li>{% blocktrans %}Repas végétariens.{% endblocktrans %} </li>
	</ul>
</p>

<p>
	{% blocktrans %}Le centre fonctionne sur le principe de la maison d'hôte.{% endblocktrans %}
</p>

<p>
	{% blocktrans %}Et, quand les beaux jours sont là, vous pourrez profiter de la piscine, à l'ombre de chênes centenaires.{% endblocktrans %}
</p>

<div class="hr"></div>
<p>
 	{% blocktrans %}N'hésitez pas à retrouver <a href="/photos"> notre section photos</a>.{% endblocktrans %}
</p>

<h2>{% trans "Séances" %}</h2>
<p>
	{% blocktrans %}La séance de soins (healing) dure de 30 à 45 minutes. Elle se deroule en 5 etapes{% endblocktrans %}:
</p>

<p>
	<ol>
		<li>{% blocktrans %}Détecter l'origine du blocage émotionnel{% endblocktrans %}</li>
		<li>{% blocktrans %}Recentrage énergétique des chakras avec cristaux{% endblocktrans %}</li>
		<li>{% blocktrans %}Enlever la vibration émotionnelle négative par la vibration du son{% endblocktrans %}</li>
		<li>{% blocktrans %}Harmonisation du flot des énergies positives{% endblocktrans %}</li>
	</ol>
</p>

<div class="hr"></div>
<p>{% blocktrans %}Un <a href="/testimonies">forum de témoignage</a> présente differentes personnes avant et aprés l'intervention de Yogi Karma Thutop Dorjé.{% endblocktrans %}</p>

{% endblock %}