{% extends "base.html" %}
{% load i18n %}

{% block title %}{% blocktrans %}L'Énergie du Yogi{% endblocktrans %} - {% trans "Soins" %}{% endblock %}

{% block section %} {% trans "Soins" %}{% endblock %}

{% block tree %} {% trans "Soins" %}{% endblock %}

{% block cSeminars %}active{% endblock %}

{% block left %}
<div><img src="/img/photos/200/soins2.png" /></div>
{% endblock %}

{% block right %}

<h2>{% trans "Soins" %}</h2>
<p>
	{% blocktrans  %}
	La thérapie de l'émotionel consiste à aider à évacuer les energies négatives, concentrées dans le canal central, perturbant les flux energetiques.
	{% endblocktrans %}
</p>

<h2>{% trans "Enlever la vibration Émotionnelle négative" %}</h2>
<p>
	{% blocktrans  %}
	Bien souvent, des symptomes physiques apparaissent dûs à des chocs emotionels tels que deuil, séparation, accident, traumatismes conscients ou inconscients dans
	l'enfance ou dans le ventre de la mère. 
	{% endblocktrans %}
</p>

<div class="hr"></div>
<p>
	{% blocktrans  %}
	Le corps physique peut alors présenter des dysfonctionnements tels que sensations d'oppression, fatigue, manque d'énergie, mal de dos, sensations de gonflement au ventre, d'état d'anxiété, insomnies.
	{% endblocktrans %}
</p>
	
<div class="hr"></div>
<p>
	{% blocktrans %}
	La conséquence de ce flux énergétique déséquilibré nourrit le mal-etre: afflûts de pensées négatives et récurantes, angoisses, stress, émotions et perceptions négatives, manque de confiance en soi, phénomènes d'addictions...
	{% endblocktrans %}
</p>

<h2>{% trans "Équilibrage des Énergies" %}</h2>
<p>
	{% blocktrans %}
	Harmoniser et équilibrer les énergies du corps fera renaître  une  perception positive de notre Être mental et physique.
	{% endblocktrans %}
</p>

<h2>{% trans "Les Séances" %}</h2>

<p>{% blocktrans %}Pour des soins, <a href="/yogikarma">Yogi Karma</a> reçoit au centre 2 jours par semaine sur Rendez-vous, les Mardi et Mercredi (sauf Juillet-Aout){% endblocktrans %}</p>

<ul>
	<li>{% blocktrans %}Ouvert aux enfants, adolescents et adultes{% endblocktrans %}</li>
	<li>{% blocktrans %}Entre 20 et 30 minutes <a href="/photos/soins">la séance</a>{% endblocktrans %}</li>
	<li>{% blocktrans %}Tarif: 50 Euros, Enfants 30 Euros{% endblocktrans %}</li>
</ul>

<p>{% blocktrans %}Yogi Karma effectue aussi les rendez-vous à domicile.{% endblocktrans %}</p>

<div><img src="/img/photos/500/therapy1.png" /></div>

{% endblock %}