{% load i18n %}
<h2>Merci Karma</h2>
{% trans "par" %}: Laurent</a>
<p>Bonjour Karma,</p>

<p>Je t'écris aujourd'hui pour partager avec toi ma joie quant au chemin parcouru ces deux dernières années, cheminement vers ma guérison , retour à la lumière, à la vie , une renaissance.</p>

<p>Quand je me retourne sur ces deux années et que je regarde l'instant je ne peux qu'être emplie de joie, de lumière et d'amour.</p>

<p>Qui aurait pu croire à un tel retournement, le jour où nos vies se sont croisées ?</p>

<p>Rappelles toi, je me droguais à l'héroïne par injection à un rythme et à des doses effrayantes.</p>

<p>Cela a failli me tuer a plusieurs reprises.</p
	
<p> Le jour ou nous nous sommes rencontrés , je commençais à peine à me soigner et je pratiquais encore occasionnellement des injections d'héroïne.</p>

<p>Tu as pratiqué sur moi <a href="/therapy">un Healing</a> , ce jour tu as rallumé en moi une petite flamme d amour depuis longtemps éteinte; tu m as redonné la flamme de la vie.</p>

<p>Et non seulement cela , mais tu m'as permis de faire le deuil de ma maman, défunte depuis 7 ans.</p>

<p>Depuis ce jour je n'ai jamais plus touché à la drogue et j'ai entamé le processus de soin avec conviction.</p>

<p>Tu as été présent pour moi à chaque instant difficile, tu m'as épaulé dans ma démarche de soins ainsi que dans mon évolution sociale et spirituelle. 
Je t'aime karma tu es lumière dans le noir, amour et paix.</p>

<p>Laurent</p>



 



