{% load i18n %}
<h2>{% trans "Guérison" %}</h2>
{% trans "par" %}: Romain</a>
<p>Bonjour je m’appel romain j’ai 23 ans y a 3 ans de sa je suis tomber tres gravement malade cette maladie qui s’appel la phlebite. C'est une maladie de sang pouvant entrainer la mort</p>

<p>J’ai voulu apprendre la bouddhisme c’est la ou j’ai rencontré karma</p>

<p>Et c’est de la que ma vie est en train de changer et a commencer à guerrir</p>

<p>Cela prendra du temps mais sa avancera surement un tres gros merci a karma et à sa femme nicole.</p>

<p>Romain</p>

  