{% load i18n %}
<h2>{% trans "Rencontre avec Karma" %}</h2>
{% trans "par" %}: Thierry</a>
<p>J'ai rencontré Karma de façon tout à fait étonnante.</p>

<p>J'étais en vacances à Saint-Raphaël et je me suis dirigé vers un centre d'Aromathérapie afin de me faire un peu de bien.</p>

<p>La personne qui s'est bien occupée de moi a constaté des blocages chez moi, que je ressentais déjà bien par moi-même, et surtout au niveau du sternum.</p>

<p>Elle a tenté de les dénouer par des massages mais ils étaient trop "profonds". Sans trop savoir de quoi il en retournait, j'ai tout de suite pris un rendez-vous. </p>

<p>Le contact a été excellent et immédiat avec Karma ! Un sentiment de fraternité réelle est tout de suite apparu entre nous.</p>

<p>L'unique séance avec lui s'est très bien déroulée mais c'est surtout après que j'ai constaté les effets "miraculeux" de cette séance.</p>

<p>Une grande et épaisse 
excroissance de chair que j'avais depuis des années à un niveau situé entre le 
bas du coup et le sternum avait presque totalement disparue le soir même !!!</p>

<p>En outre, j'ai ressenti peu de temps après (un ou deux jours) que j'étais maintenant beaucoup plus ouvert, au propre comme au figuré : au niveau de mon 
sternum, les épaules plus en arrière et moins renfermées MAIS AUSSI plus ouvert au monde, aux autres...</p>

<p>J'ai également constaté que le lien avec ma sœur que j'avais perdue des années auparavant était toujours existant mais ne me "retenait" plus ni ne la retenait plus !</p>

<p>Pour toutes ces raisons, je remercie Karma, encore des mois et des années après cette séance.</p>

<p>Thierry</p>